body {
    width: 100%;
    height: 100dvh;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    // cursor: url("../../img/normal.png"), auto;
}

* {
    user-select: none;
}

a,
button {
    // cursor: url("../../img/link.png"), auto !important;
    cursor: pointer;
}


.conatiner-main {
    height: 100%;
    width: 100%;
    display: flex;

    .mobile-links {
        list-style: none;
        display: none;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        background: var(--glass-color);
        padding-inline: 1rem;
        backdrop-filter: blur(70px);
        border-radius: 10px;

        position: fixed;
        z-index: 999999999;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);


        li {
            font-size: 1.25rem;
            width: 100%;
            height: 50px;


            a {
                width: 100%;
                height: 100%;
                display: grid;
                place-items: center;

                font-size: .9rem;
                text-decoration: none;
                color: var(--font-color);
                transition: color .25s ease-in-out, var(--transition-animation);

                &.active {
                    color: var(--accent-color);
                }
            }



        }
    }

    #sidebar {

        position: absolute;
        top: 0;
        width: 100%;
        z-index: 999999999;
        display: flex;
        max-width: 1200px;
        left: 50%;
        transform: translateX(-50%);
        justify-content: space-between;
        align-items: center;
        padding-block: 1rem;
        padding-inline: 1rem;

        a {
            font-size: 1rem;
            text-decoration: none;
            color: var(--font-color);
            transition: color .25s ease-in-out, var(--transition-animation);
        }

        .top {

            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

            padding-right: 105px;

            img {
                display: block;
                background-position: center;
                width: 30px;
                margin: 0 auto;
                filter: var(--filter-image);
            }

        }

        .links {
            list-style: none;
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;

            background: var(--glass-color);
            padding-inline: 1rem;
            backdrop-filter: blur(70px);
            border-radius: 10px;


            li {
                font-size: 1.25rem;
                width: 100%;
                height: 50px;


                a {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    place-items: center;
                    cursor: pointer;

                    &.active {
                        color: var(--accent-color);
                    }
                }



            }


        }

        .socials {
            display: flex;
            list-style: none;
            gap: 1rem;
            align-items: center;

        }

        a:hover {
            color: var(--accent-color);
        }

    }

    .content-container {
        height: 100%;
        flex: 1;
        overflow: hidden;
        position: relative;
        background-color: var(--bg-color);

        #content {
            height: 100%;
            flex: 1;
            overflow-x: hidden;
            position: relative;
            scroll-behavior: smooth;
            scrollbar-width: none;
            max-width: 1300px;
            margin: 0 auto;
            overflow: auto;

            section {
                padding-block: 3rem;
                min-height: fit-content;
                width: 100%;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                padding-left: 3rem;
                padding-right: 3rem;
                gap: 3rem;

                max-width: 1400px;
                margin: 0 auto;
                position: absolute;
                opacity: 0;
                top: 140px;
                max-height: 0px;

                transition: top .5s ease-in-out, opacity .2s ease-in-out, var(--transition-animation);


                .text,
                .about-text,
                .my-skills-text,
                .my-work-text,
                .contact-me-text {

                    position: relative;

                    &::after,
                    &::before {
                        font-family: 'Dancing Script', cursive;
                        font-size: 1.2rem;
                        position: absolute;
                        color: var(--tags-color);
                    }

                    &::after {
                        content: "<h1>";
                        top: -20px;
                        left: -20px;
                    }

                    &::before {
                        content: "</h1>";
                        bottom: -10px;
                        right: -30px;
                    }

                    span {
                        font-size: 5rem;
                        font-weight: 600;
                        transition: color .5s ease-in-out, var(--transition-animation);
                        display: inline-block;
                        position: relative;
                        color: var(--font-color);
                    }

                    span:hover {
                        color: red;
                    }


                    .animated {
                        animation: Squeezed-text 0.9s ease-in-out;
                    }



                    .opening-text {
                        opacity: 0;
                    }


                }

                .sub-text {
                    opacity: 0;
                    transition: opacity .2s ease-in-out, var(--transition-animation);
                    font-size: 1.2em;
                    color: var(--sub-text-color);


                    &::after,
                    &::before {
                        font-family: 'Dancing Script', cursive;
                        font-size: 1.2rem;
                        position: absolute;
                        color: var(--tags-color);
                    }

                    &::after {
                        content: "<p>";
                        top: -20px;
                        left: -20px;
                    }

                    &::before {
                        content: "</p>";
                        bottom: -20px;
                        left: -20px;
                    }
                }
            }

            #main-text {
                min-height: calc(100dvh - 75px);
                top: var(--top-value);
                opacity: 1;
                max-height: unset;
                z-index: 99999;

                .text {

                    @for $i from 1 through 25 {
                        span.opening-text:nth-of-type(#{$i}) {
                            animation: jello-horizontal 1s ease-in-out;
                            animation-delay:(#{$i*0.1s});
                        }
                    }

                    @for $i from 1 through 25 {
                        span.animate:nth-of-type(#{$i}) {
                            animation: jello-horizontal 1s ease-in-out forwards;
                            animation-delay:(#{$i*0.1s});
                        }
                    }

                }

                .sub-text {
                    animation: scale-in-ver-bottom .9s both;
                    animation-delay: 1.3s;
                }



                button {
                    outline: 0;
                    background-color: transparent;
                    border: 0;
                    border: 1px solid var(--font-color);
                    color: var(--font-color);
                    transition: color .5s ease-in-out, var(--transition-animation);
                    padding-block: 1rem;
                    padding-inline: 3rem;
                    font-size: 1.2rem;
                    cursor: pointer;
                    animation: scale-in-ver-bottom .9s both;
                    animation-delay: 1.8s;
                    overflow: hidden;
                    isolation: isolate;
                    z-index: 1;
                }

                button:hover {
                    //background-color: var( --accent-color);
                    color: var(--bg-color);
                    position: relative;

                    &::before {
                        animation: button-hover .5s ease-in-out forwards;
                    }
                }

                button:before {
                    content: "";
                    position: absolute;
                    background-color: var(--font-color);
                    width: 100%;
                    height: 100%;
                    inset: 0;
                    z-index: -1;
                    animation: undo-button-hover .5s forwards alternate;
                }


            }


            #about {

                .about-text {

                    span {
                        font-size: 4rem;
                    }

                    @for $i from 1 through 7 {
                        span.animate:nth-of-type(#{$i}) {
                            animation: jello-horizontal 1s ease-in-out forwards;
                            animation-delay:(#{$i*0.1s});
                        }
                    }

                }

                .sub-text {
                    font-size: 1em;
                    position: relative;
                    line-height: 2rem;
                    opacity: 0;

                    &.animateit {
                        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
                        animation-delay: .2s;
                    }

                    &::after,
                    &::before {
                        font-size: 1.2rem;
                    }
                }

            }

            #my-skills {

                .my-skills-text {

                    span {
                        font-size: 4rem;
                    }

                    @for $i from 1 through 8 {
                        span.animate:nth-of-type(#{$i}) {
                            animation: jello-horizontal 1s ease-in-out forwards;
                            animation-delay:(#{$i*0.1s});
                        }
                    }

                }

                .my-skills-content {
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;

                    .skill-container {
                        display: flex;
                        gap: 1rem;
                        min-width: 50%;
                        flex-wrap: wrap;
                        flex: 1;
                        height: fit-content;


                        .skill-card {
                            flex: 1;
                            min-width: 250px;
                            padding: 1rem;
                            background-color: var(--glass-color);
                            display: flex;
                            flex-direction: column;
                            backdrop-filter: blur(10px);
                            font-weight: 700;
                            gap: 1rem;
                            height: fit-content;

                            >p {
                                color: var(--sub-text-color);
                            }

                            >span {
                                width: 100%;
                                height: 5px;


                                span {
                                    width: 0%;
                                    background-color: var(--font-color);
                                    height: 100%;
                                    display: block;
                                }



                            }
                        }


                        @for $i from 1 through 10 {
                            .skill-card:nth-of-type(#{$i}) {
                                >span {
                                    .animateindicator {
                                        animation: width-expand 1s linear forwards;
                                        animation-delay: #{($i * 0.1s)}; // interpolate the delay

                                    }
                                }


                            }
                        }



                    }

                }



            }

            #my-work {
                .my-work-text {

                    span {
                        font-size: 4rem;
                    }

                    @for $i from 1 through 6 {
                        span.animate:nth-of-type(#{$i}) {
                            animation: jello-horizontal 1s ease-in-out forwards;
                            animation-delay:(#{$i*0.1s});
                        }
                    }

                }

                .sub-text {
                    font-size: 1em;
                    position: relative;
                    line-height: 1.5rem;

                    &.animateit {
                        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
                        animation-delay: .2s;
                    }

                    &::after,
                    &::before {
                        font-size: 1.2rem;
                    }
                }

                .work-wrapper {
                    width: 100%;
                    display: flex;
                    overflow: hidden;
                    flex-direction: column;
                    scrollbar-width: none;
                    position: relative;
                    opacity: 0;


                    &.animateit {
                        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
                        animation-delay: .2s;
                    }


                    >button {
                        background-color: transparent;
                        outline: none;
                        border: none;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        background: #00000053;
                        transition: background .3s ease-in-out, var(--transition-animation);
                        padding: .5rem;

                        &:hover {
                            background: #00000080;
                        }

                        img {
                            width: 15px;
                        }

                        &.left {
                            left: 5px;
                            z-index: 10;
                        }

                        &.right {
                            right: 5px;
                            z-index: 10;
                        }
                    }

                    .work-container {

                        display: flex;
                        width: 100%;
                        gap: 1rem;
                        overflow: auto;
                        scrollbar-width: none;
                        // scroll-snap-type: x mandatory;
                        scroll-behavior: smooth;
                        // cursor: url(../../img/move.png), auto;
                        cursor: grab;



                        .work-card {

                            min-width: min(100%, 500px);
                            padding: 1rem;
                            position: relative;
                            background-color: var(--glass-color);
                            backdrop-filter: blur(10px);
                            // scroll-snap-align: center;

                            img {
                                width: 100%;
                                aspect-ratio: 1440 / 834;
                                object-fit: cover;
                                display: block;
                            }

                            >div {

                                background-color: var(--glass-color);
                                margin-top: 1rem;
                                display: flex;
                                flex-direction: column;
                                padding: 1rem;

                                span {
                                    font-size: 1rem;
                                    color: var(--font-color);
                                    text-transform: uppercase;
                                }

                                >div {
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-start;
                                    margin-top: 0.5rem;
                                    gap: 0.5rem;

                                    img {
                                        height: 20px;
                                        width: 20px;
                                        object-fit: contain;
                                    }
                                }
                            }
                        }
                    }
                }


            }

            #contact-me {

                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 6rem;

                .main-text-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    .contact-me-text {

                        span {
                            font-size: 4rem;
                        }

                        @for $i from 1 through 10 {
                            span.animate:nth-of-type(#{$i}) {
                                animation: jello-horizontal 1s ease-in-out forwards;
                                animation-delay:(#{$i*0.1s});
                            }
                        }

                    }

                    .sub-text {
                        font-size: 1em;
                        position: relative;
                        line-height: 1.5rem;

                        &.animateit {
                            animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
                            animation-delay: .2s;
                        }

                        &::after,
                        &::before {
                            font-size: 1.2rem;
                        }
                    }
                }

                .contact-wrapper {
                    max-width: 400px;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    width: 100%;

                    form {
                        display: contents;
                    }

                    .input-wrapper {
                        width: 100%;
                        background-color: var(--glass-color);
                        position: relative;

                        input,
                        textarea {
                            background-color: transparent;
                            outline: none;
                            border: none;
                            padding: 1rem;
                            width: 100%;
                            // cursor: url(../../img/text.png), auto;
                            color: var(--font-color);
                        }

                        label {
                            position: absolute;
                            color: var(--font-color);
                            top: 18px;
                            left: 15px;
                            font-size: 12px;
                            transition: font-size .2s ease-in-out, top .2s ease-in-out, var(--transition-animation);
                            // cursor: url(../../img/text.png), auto;
                        }

                        input:not(:placeholder-shown)+label,
                        textarea:not(:placeholder-shown)+label {
                            top: 4px;
                            font-size: .6rem;
                        }

                        input::placeholder,
                        textarea::placeholder {
                            color: transparent;
                            /* Change color here */
                        }




                    }


                    button {
                        width: 100%;
                        font-size: 12px;
                        background-color: transparent;
                        outline: none;
                        border: 1px solid var(--font-color);
                        padding: 1rem;
                        color: var(--font-color);
                        transition: background-color .3s ease-in-out, var(--transition-animation);
                        font-weight: 700;

                        &:hover {
                            background-color: var(--font-color);
                            color: var(--bg-color);
                        }
                    }
                }

            }
        }

    }

}

.mode-change-wrapper {
    width: 55px;
    height: 30px;
    background: var(--glass-color);
    border-radius: 10px;
    position: relative;

    >div {
        height: 25px;
        width: 25px;
        position: absolute;
        background-color: #fff;
        border-radius: 100%;
        top: 50%;
        transform: translateY(-50%);
        right: 3px;
        cursor: pointer;
        transition: all .5s ease-in-out, var(--transition-animation);
        background-image: url(../../img/moon.png);
        background-size: contain;
        background-color: #000;


        &.light {
            right: calc(100% - 28px);
            background-image: url(../../img/sun.png);
            background-color: #fff;
        }
    }
}

.preloader {
    background-color: var(--bg-color);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999999999999999999999999999999999999;
    display: grid;
    place-items: center;

    img {
        width: 50px;
        animation: jello-horizontal 1s infinite;
        filter: var(--filter-image);
    }
}



//animations
@keyframes side-to-side {
    0% {
        right: unset;
    }

    100% {
        left: 3px;
    }
}

@keyframes rotate360 {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.15;
    }

    to {
        rotate: 360deg;
    }
}

@keyframes scroll-down {
    0% {
        bottom: 10px;
    }

    100% {
        bottom: 30px;
    }
}

@keyframes jello-horizontal {
    0% {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
        opacity: 1;
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
        opacity: 1;
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
        opacity: 1;
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
        opacity: 1;
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
        opacity: 1;
    }

    100% {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

@keyframes Squeezed-text {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes scale-in-ver-bottom {
    0% {
        transform: scaleY(0);
        transform-origin: 0% 100%;
        opacity: 1;
    }

    100% {
        transform: scaleY(1);
        transform-origin: 0% 100%;
        opacity: 1;
    }
}

@keyframes button-hover {
    0% {
        left: -100%;
    }

    100% {
        left: 0%;
    }
}

@keyframes undo-button-hover {
    0% {
        left: 0%;
    }

    100% {
        left: -100%;
    }
}

@keyframes tracking-in-expand {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes width-expand {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}


@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(100%);
    }
}


/* Small screen size */
@media only screen and (max-width: 767px) {

    .conatiner-main {
        --top-value: 50px;
        --blob-size: 70vw;

        .mobile-links {
            display: flex;
        }


        #sidebar {


            a {}

            .top {
                img {}

            }

            .links {

                display: none;

                li {}


            }

            .socials {}



        }

        .content-container {


            #content {

                section {
                    padding-left: 2rem;
                    padding-right: 2rem;
                    gap: 2.4rem;
                    padding-bottom: 8rem;
                }


                #main-text {
                    min-height: calc(100dvh - 75px);
                    height: calc(100dvh - 75px);
                    max-height: calc(100dvh - 75px);
                    padding-bottom: 3rem;

                    .text {
                        span {
                            font-size: 2rem;
                        }
                    }

                    .sub-text {
                        font-size: 1rem;
                    }

                }


                #about {

                    .about-text {

                        span {
                            font-size: 1.5rem;
                        }


                    }



                }

                #my-skills {


                    .my-skills-text {

                        span {
                            font-size: 1.5rem;
                        }




                    }

                    .my-skills-content {

                        .skill-container {



                            .skill-card {
                                min-width: 40%;

                                >p {
                                    color: var(--sub-text-color);
                                }

                                >span {


                                    span {}



                                }
                            }




                        }
                    }



                }

                #my-work {
                    .my-work-text {

                        span {
                            font-size: 1.5rem;
                        }


                    }

                    .work-wrapper {

                        >button {}

                        .work-container {

                            scroll-snap-type: x mandatory;



                            .work-card {

                                scroll-snap-align: center;

                                img {}

                                >div {



                                    span {}

                                    >div {


                                        img {}
                                    }
                                }
                            }
                        }
                    }


                }

                #contact-me {

                    display: flex;
                    flex-direction: column;
                    gap: 1.7rem;
                    align-items: flex-start;

                    .main-text-wrapper {
                        display: contents;

                        .contact-me-text {

                            span {
                                font-size: 1.5rem;
                            }


                        }

                        .sub-text {}
                    }

                    .contact-wrapper {


                        form {}

                        .input-wrapper {}


                        button {}
                    }

                }
            }


        }

        .scroll-bottom-wrapper {
            display: none;
        }
    }

    .bouncing-blob {
        width: 60vw;

    }

    .bouncing-blob--white {
        width: 30vw;
    }

    .bouncing-blobs {

        filter: blur(50px);

    }


}

/* Medium screen size */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .conatiner-main {


        #sidebar {


            a {}

            .top {
                img {}

            }

            .links {



                li {}


            }

            .socials {}



        }

        .content-container {


            #content {

                section {



                    .text,
                    .about-text,
                    .my-skills-text,
                    .my-work-text,
                    .contact-me-text {



                        &::after,
                        &::before {

                            font-size: .9rem;

                        }



                    }

                    .sub-text {



                        &::after,
                        &::before {

                            font-size: .9rem;

                        }


                    }
                }


                #main-text {



                    .text {
                        span {
                            font-size: 3rem;
                        }
                    }


                }


                #about {

                    .about-text {

                        span {
                            font-size: 2rem;
                        }


                    }


                }

                #my-skills {


                    .my-skills-text {

                        span {
                            font-size: 2rem;
                        }




                    }

                    .my-skills-content {

                        .skill-container {



                            .skill-card {


                                >p {
                                    color: var(--sub-text-color);
                                }

                            }




                        }


                    }



                }

                #my-work {
                    .my-work-text {

                        span {
                            font-size: 2rem;
                        }


                    }


                }

                #contact-me {

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 4rem;

                    .main-text-wrapper {

                        .contact-me-text {

                            span {
                                font-size: 2rem;
                            }


                        }

                    }


                }
            }


        }

    }

}

//blob
.bouncing-blob {
    width: 32vw;
    aspect-ratio: 1;
    border-radius: 50%;
    will-change: transform;
    position: absolute;
    top: 0;
    left: 0;

    transform-origin: left top;

}

.bouncing-blob--blue {
    background: #4783c7;
}

.bouncing-blob--white {
    background: #ffffff;
    z-index: 1;
    width: 15vw;
}

.bouncing-blob--purple {
    background: #8c8ff1;
}

.bouncing-blob--pink {
    background: #e289cd50;
}

.bouncing-blobs-container {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    isolation: isolate;
}

.bouncing-blobs {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    filter: blur(50px);
    isolation: isolate;
}