body{
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}


.conatiner-main{
    height: 100%;   
    width: 100%;
    display: flex;

    #sidebar{
        width: 130px;
        height: 100%;
        background-color: #333;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 3rem;

        a{
            font-size: 1rem;
            text-decoration: none;
            color: #fff;
            transition: color .25s ease-in-out; 
        }

        .top{
            width: 100%;
            text-align: center;
            padding-block: 1rem;
            background-color: rgb(29, 29, 29);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

            img{
                display: block;
                background-position: center;
                width: 60px;
                margin: 0 auto;
            }

            h1{
                color: #fff;
                font-size: 1.5rem;
                margin-top: .5rem;
            }

            p{
                font-size: .75rem;
                margin-top: 1rem;
                color: #fff;
            }
        }

        .links{
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;    

            li{
                font-size: 1.25rem;
                width: 100%;
                height: 50px;
                

                a{
                    width: 100%;
                    height: 100%;
                    display: grid;
                    place-items: center;
                    border-block: 1px solid #555;
                }



            }


        }

        .socials{
            display: flex;
            list-style: none;
            gap: 1rem;
            height: 130px;
        }

        a:hover{
            color: red;
        }

    }

    #content{
        height: 100%;
        flex: 1;
        background-color: #555;
        overflow-x: hidden;

        #main-text{
            height: 100vh;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding-left: 5rem;
            gap: 3rem;


            .text{

                position: relative;

                &::after, &::before{
                    font-family: 'Dancing Script', cursive;
                    font-size: 1.2rem;
                    position: absolute;
                    color: #000;
                }

                &::after{
                    content: "<h1>";
                    top: -20px;
                    left:-20px;
                }

                &::before{
                    content: "</h1>";
                    bottom: -10px;
                    right:-30px;
                }

                span{
                    font-size: 5rem;
                    font-weight: 600;
                    transition: color .5s ease-in-out;
                    display: inline-block;
                    position: relative;
                    color: #fff;
                }

                span:hover{
                    color: red;
                }


                .animated{
                    animation: Squeezed-text 0.9s ease-in-out;   
                }

                

                .opening-text{
                    opacity: 0; 
                }

                @for $i from 1 through 24 {
                    span.opening-text:nth-of-type(#{$i}) {
                      animation: jello-horizontal 1s ease-in-out;
                      animation-delay:(#{$i*0.1s}); 
                    }
                }

                

                

            }

            .sub-text{
                opacity: 0;
                transition: opacity .2s;
                font-size: 1.2em;
                color: #333;
                animation: scale-in-ver-bottom .9s both ;
                animation-delay: 1s;

                &::after, &::before{
                    font-family: 'Dancing Script', cursive;
                    font-size: 1.2rem;
                    position: absolute;
                    color: #000;
                }

                &::after{
                    content: "<p>";
                    top: -20px;
                    left:-20px;
                }

                &::before{
                    content: "</p>";
                    bottom: -20px;
                    left:-20px;
                }
            }

            button{
                outline: 0;
                background-color: transparent;
                border: 0;
                border: 1px solid #08fdd8;
                color: #08fdd8;
                transition: color .5s;
                padding-block: 1rem;
                padding-inline: 3rem;
                font-size: 1.2rem;
                cursor: pointer;
                animation: scale-in-ver-bottom .9s both ;
                animation-delay: 1s;
                overflow: hidden;
                isolation:isolate ;
                z-index: 1;
            }

            button:hover{
                //background-color: #08fdd8;
                color: #000;
                position: relative;

                &::before{
                    animation: button-hover .5s forwards;
                }
            }

            button:before{
                content: "";
                position: absolute;
                background-color: #08fdd8;
                width: 100%;
                height: 100%;
                inset: 0;
                z-index: -1;
                
                animation: undo-button-hover .5s forwards alternate;
            }


        }
    }

    .scroll-down{
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        writing-mode: vertical-rl;
        width: fit-content;
        position: absolute;
        bottom: 30px;
        animation: scroll-down .5s infinite alternate;
    }

    .scroll-down-left{
        left: 5px;
    }
    .scroll-down-right{
        right:5px;
    }

    @keyframes scroll-down {
        0%{
            bottom:10px;
        }

        100%{
            bottom: 30px;
        }
    }

}

//tags
.tags{
    position: absolute;
    font-family: 'Dancing Script', cursive;
    font-size: 1.2rem;
}
span.html{
    top: 30px;
    left: 30px;
}

span.body{
    top: 60px;
    left: 60px;
}



//animations


@keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
      opacity: 1;
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
      opacity: 1;
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
      opacity: 1;
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
      opacity: 1;
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
      opacity: 1;
    }
    100% {
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }

@keyframes Squeezed-text {
    0% {
        transform: scale3d(1, 1, 1);
      }
      30% {
        transform: scale3d(1.25, 0.75, 1);
      }
      40% {
        transform: scale3d(0.75, 1.25, 1);
      }
      50% {
        transform: scale3d(1.15, 0.85, 1);
      }
      65% {
        transform: scale3d(0.95, 1.05, 1);
      }
      75% {
        transform: scale3d(1.05, 0.95, 1);
      }
      100% {
        transform: scale3d(1, 1, 1);
      }
}

@keyframes scale-in-ver-bottom {
    0% {
      transform: scaleY(0);
      transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      transform: scaleY(1);
      transform-origin: 0% 100%;
      opacity: 1;
    }
  }

@keyframes button-hover {
    0%{
        left: -100%;
    }

    100%{
        left: 0%;
    }
}

@keyframes undo-button-hover {
    0%{
        left: 0%;
    }

    100%{
        left: -100%;
    }
}